<div class="mission-overlay">
  <h1>Mission Control Center</h1>
  
  <div class="container">
      <app-hero-card-component
        *ngFor="let h of heroes" 
        [hero]="h" 
        (onMissionDone)="markAsDone($event)">
      </app-hero-card-component>
  </div>
  
  <div class="status-bar">
      <p>Missioni completate: <span>{{ totalCompleted }}</span></p>
    </div>
    <!-- Bottone Aggiungi Eroe -->
    <div class="action-bar">
      <button [routerLink]="['/insert', 0]" class="btn-recluta">
        Recluta Nuovo Salvatore
      </button>
    </div>
</div>
