<div class="mission-overlay">
  <h1>Mission Control Center</h1>
  
  <div class="container">
      <!-- ⚠️ Usiamo track h._id perché il server genera _id -->
      @for (h of heroes; track h.id) {
  <app-hero-card-component
    [hero]="h" 
    (onMissionDone)="markAsDone($event)"
    (onDelete)="cancellaEroe($event)"> <!-- 👈 Aggiungi $any(...) qui -->
  </app-hero-card-component>
      } @empty {
        <p style="color: white; text-align: center;">Nessun eroe reclutato al momento.</p>
      }
  </div>
  
  <div class="status-bar">
      <p>Missioni completate: <span>{{ totalCompleted }}</span></p>
  </div>

  <div class="action-bar">
    <!-- Lo 0 serve per dire al form che stiamo creando un nuovo record -->
    <button [routerLink]="['/insert', '0']" class="btn-recluta">
      Recluta Nuovo Salvatore
    </button>
  </div>
</div>