<div class="insert-overlay">
  <div class="insert-card">
    <!-- Se l'id è '0' stiamo aggiungendo, altrimenti modificando -->
    <h3>{{ hero.id !== '0' ? 'Modifica Eroe' : 'Aggiungi Nuovo Eroe' }}</h3>
    
    <div class="form-group">
      <input type="text" 
             [(ngModel)]="hero.nome" 
             name="heroNome" 
             placeholder="Nome Eroe">
    </div>

    <div class="form-group">
      <input type="text" 
             [(ngModel)]="hero.potere" 
             name="heroPotere" 
             placeholder="Potere Principale">
    </div>
    
    <button (click)="save()" [disabled]="!hero.nome">
      {{ hero.id !== '0' ? 'Conferma Modifiche' : 'Recluta Eroe' }}
    </button>
  </div>
</div>
